@model List<TeamUI>

<section id="team" class="team section-bg">
	<div class="container">

		<div class="section-title">
			<span>Team</span>
			<h2>Team</h2>
		</div>

		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
					<div class="member">
						<img src="~/images/@item.FileName" alt="@item.FileName">
						<h4>@item.FullName</h4>
						<span>@item.Title</span>
						<div class="social">
							@if (item.Twitter != null && item.Twitter != string.Empty)
							{
								<a href="@item.Twitter"><i class="bi bi-twitter"></i></a>
							}
							@if (item.Facebook != null && item.Facebook != string.Empty)
							{
								<a href="@item.Facebook"><i class="bi bi-facebook"></i></a>
							}
							@if (item.Instagram != null && item.Instagram != string.Empty)
							{
								<a href="@item.Instagram"><i class="bi bi-instagram"></i></a>
							}
							@if (item.Linkedin != null && item.Linkedin != string.Empty)
							{
								<a href="@item.Linkedin"><i class="bi bi-linkedin"></i></a>
							}
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>